
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgb(194, 147, 20);
}

.barsearch{
display: flex;
}

#Pesquisar{
    padding: 5px;
    border-radius: 20px;
    border: none;
}

#Pesquisar:hover{
    background-color: rgb(204, 204, 204);
    transition: 0.4s;
}

.logo {
    width: 10%;
    height: 10%;
}

.title {
    display: inline-block;
    font-size: 50px;
    transform: translateY(-22px);
    margin: 0;

}

.lista {
    list-style: none;
    display: flex;
    gap: 30px;
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-family: "Fjalla One", sans-serif;
}

.lista a {
    list-style: none;
    text-decoration: none;
    color: black;
}

.lista li a:hover{
    transition: 1.5s;
    color: red;
}

footer {
    padding: 40px 20px 20px 20px;
    color: rgb(0, 0, 0);
    background-color: rgb(194, 147, 20);
}

hr{
    color: black;
}

.footercontainer {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    justify-content: space-between;
    margin: auto;
}

.footercoluna {
    margin-bottom: 20px;
}

.Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 4%;
    margin-top: 4%;
}

#livro1{
    text-align: left;
    text-align-last: left;
    padding: 30px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#livro2{
    text-align: left;
    text-align-last: left;
    padding: 30px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#livro3{
    text-align: left;
    text-align-last: left;
    padding: 30px;
    width: 20%;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}


#livro3 img{
    width: 95.5%;
}