@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

* {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #FCECD4;
    border: 15px #DFD0B8 solid;
    box-sizing: border-box;
    min-height: 100vh;
    position: relative
}

body::before,
body::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    opacity: 0.15;
    background: #aca168;
    z-index: 0;
}

body::before {
    width: 250px;
    height: 250px;
    top: 10%;
    left: 5%;
}

body::after {
    width: 300px;
    height: 300px;
    bottom: 20%;
    right: 10%;
}

h1 {
    text-align: center;
    margin-top: 50vh;
}

h2 {
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 9%;
    font-size: 45px;
}

h3 {
    margin-inline: 150px;
    font-size: 25px;

}

p {
    margin-inline: 250px;
    font-size: 25px;
    text-align: justify;
    text-align-last: center;

}

.next {
    display: inline-block;
}

.back {
    display: inline-block;
    margin-right: 72.5%;
    margin-left: 0.7%;
}

button {
 margin-top: 100%;
 margin-bottom: 3px;
 background-color: transparent;
 border-radius: 20px;
 padding: 12px;
 font-size: 20px;
}

img{
    width: 25%;
    height: 25%;
    border-radius: 20px;
    margin-left: 37%;
    margin-top: 3%;
    margin-bottom: 3%;
}

pre{
    font-size: 30px;
    text-align: center;
    margin-top: 3%;
}