@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

* {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    background-color: #FCECD4;
    border: 15px #DFD0B8 solid;
    height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 50vh;
}

h2{
    text-align: center;
    margin-top: 15vh;
    margin-bottom: 9%;
    font-size: 45px;
}

h3{
    margin-inline: 150px;
    font-size: 25px;

}

p{
    margin-inline: 250px;
    font-size: 25px;
    text-align: justify;
    text-align-last: center;

}

.next{
    display: inline-block;
}

.back{
    display: inline-block;
     margin-right: 83%;
    margin-left: 0.7%;
}

button{
    border-radius: 25px;
    width: 100%;
    padding: 10px;
    font-size: 20px;
    background-color: transparent;
    margin-top: 395px;
    
    


}