*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(245, 228, 196);
}
header{
    background-color: rgb(240, 189, 130);
    padding: 20px;
}

#cabecalho{
    display: flex;
    font-family: 'Times New Roman', Times, serif;
    gap: 30%;
}

.logo a{
      text-decoration: none;
      color: black;
}

.logo{
    font-size: 45px;
    font-weight: bold;
    font-style: normal;  
}

.logo:hover{
    transition: ease 0.3s;
    color: rgba(196, 2, 2, 0.884);
}

.navegacao li{
    list-style: none;
    display: inline;
    font-weight: bold;
    font-size: 25px;
    margin-right: 2vw;  
}

.navegacao{
    margin-top: 20px;
}

.ItemContainer{
    display: flex;
    background-color: rgb(240, 189, 130);
    height:70vh;
    width: 80vw;
    border-radius: 10px;
    margin: 5% auto;
    gap: 10%;
}

.imagem img{
    width: 500px;
    border-radius: 20px;
    margin: 15% 15% auto;
}

.textos h2{
margin-top: 9%;
font-size: 50px;
}  

.textos p{
 margin-top: 5%;
 font-size: 30px;
 margin-right: 10%;
 text-align: left;
 text-align-last: left;
}



footer{
   background-color: rgb(240, 189, 130);
   margin-top: 6%;
}

.colunafooter{
    display: flex;
    justify-content: center;
    gap: 25%;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.colunafooter ul{
    list-style: none;
}

.footerbottom {
    text-align: center;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li a{
    text-decoration: none;
    color: black;
}
